@font-face {
  font-family: ABCSans;
  src: url('https://res.abc.net.au/fonts/abcsansnova/20211112/abcsansnova-regular.woff2') format('woff2'),
    url('https://res.abc.net.au/fonts/abcsansnova/20211112/abcsansnova-regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: ABCSans;
  src: url('https://res.abc.net.au/fonts/abcsansnova/20211112/abcsansnova-bold.woff2') format('woff2'),
    url('https://res.abc.net.au/fonts/abcsansnova/20211112/abcsansnova-bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
